<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <generatePublisherEvidence enabled="false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="PrivateAssemblies;PublicAssemblies;CommonExtensions\Microsoft\Editor;Extensions\Microsoft\Web Tools\ASPX;..\..\MSBuild\Current\Bin" />
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\MSBuild\Current\Bin\Microsoft.Build.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\MSBuild\Current\Bin\Microsoft.Build.Framework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Tasks.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\MSBuild\Current\Bin\Microsoft.Build.Tasks.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Build.Utilities.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
        <codeBase version="15.1.0.0" href="..\..\MSBuild\Current\Bin\Microsoft.Build.Utilities.Core.dll" />
      </dependentAssembly>

        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.IO.Redist" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.1.0-6.1.0.0" newVersion="6.1.0.0"/>
          <codeBase version="6.1.0.0" href="PublicAssemblies\Microsoft.IO.Redist.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
          <codeBase version="5.0.0.0" href="PublicAssemblies\Microsoft.Win32.Registry.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Diagnostics.DiagnosticSource.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.Packaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PrivateAssemblies\System.IO.Packaging.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.IO.Pipelines.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.IO.FileSystem.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
          <codeBase version="5.0.0.0" href="PrivateAssemblies\System.IO.FileSystem.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
          <bindingRedirect oldVersion="6.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
          <codeBase version="6.0.0.0" href="PublicAssemblies\Rx\System.Reactive.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
          <codeBase version="4.1.5.0" href="PublicAssemblies\System.Reflection.TypeExtensions.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Composition.AttributedModel.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Convention" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Composition.Convention.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Composition.Hosting.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Composition.Runtime.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
          <bindingRedirect oldVersion="1.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Composition.TypedParts.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Text.Json.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Text.Encodings.Web.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.3.0" newVersion="4.0.0.0" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-6.0.1.0" newVersion="6.0.1.0" />
          <codeBase version="6.0.1.0" href="PublicAssemblies\System.Runtime.CompilerServices.Unsafe.dll" />
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
          <codeBase version="6.0.0.0" href="PublicAssemblies\System.Security.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PrivateAssemblies\System.Security.Cryptography.ProtectedData.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Threading.AccessControl.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Threading.Channels" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Threading.Channels.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
          <codeBase version="4.0.2.0" href="PublicAssemblies\System.Memory.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="4.0.0.0-4.0.4.0" newVersion="4.0.4.0"/>
          <codeBase version="4.0.4.0" href="PublicAssemblies\System.Buffers.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Collections.Immutable.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Reflection.Metadata.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Reflection.MetadataLoadContext" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
          <codeBase version="9.0.0.0" href="PublicAssemblies\System.Reflection.MetadataLoadContext.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <bindingRedirect oldVersion="5.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
          <codeBase version="5.2.7.0" href="PublicAssemblies\System.Net.Http.Formatting.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
          <bindingRedirect oldVersion="4.5.0.0-13.0.0.0" newVersion="13.0.3.0"/>
          <codeBase version="13.0.3.0" href="PrivateAssemblies\Newtonsoft.Json.13.0.3.0\Newtonsoft.Json.dll"/>
        </dependentAssembly>

        <dependentAssembly>
          <assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-1.41.0.0" newVersion="1.41.0.0"/>
          <codeBase version="1.41.0.0" href="PrivateAssemblies\AzureSDK\Storage\Azure.Core.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Azure.Storage.Blobs" publicKeyToken="92742159e12e44c8" culture="neutral"/>
          <codeBase version="12.13.0.0" href="PrivateAssemblies\AzureSDK\Storage\Azure.Storage.Blobs.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Azure.Storage.Common" publicKeyToken="92742159e12e44c8" culture="neutral"/>
          <codeBase version="12.12.0.0" href="PrivateAssemblies\AzureSDK\Storage\Azure.Storage.Common.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Azure.Storage.Queues" publicKeyToken="92742159e12e44c8" culture="neutral"/>
          <codeBase version="12.11.0.0" href="PrivateAssemblies\AzureSDK\Storage\Azure.Storage.Queues.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="Microsoft.Azure.Management.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
          <codeBase version="9.0.0.0" href="PrivateAssemblies\AzureSDK\Storage\Microsoft.Azure.Management.Storage.dll"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="System.Memory.Data" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
          <codeBase version="1.0.2.0" href="PrivateAssemblies\AzureSDK\Storage\System.Memory.Data.dll"/>
        </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="MessagePack" publicKeyToken="b4a0369545f0a1be" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
        <codeBase version="2.5.0.0" href="PublicAssemblies\MessagePack.2.x\MessagePack.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MessagePack.Annotations" publicKeyToken="b4a0369545f0a1be" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
        <codeBase version="2.5.0.0" href="PublicAssemblies\MessagePack.2.x\MessagePack.Annotations.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="4.0.0.0-4.69.1.0" newVersion="4.69.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.NET.StringTools" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="1.0.0.0" />
        <codeBase version="1.0.0.0" href="..\..\MSBuild\Current\Bin\Microsoft.NET.StringTools.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.ComponentModelHost" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
        <codeBase version="17.0.0.0" href="CommonExtensions\Platform\MefHosting\Microsoft.VisualStudio.ComponentModelHost.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Composition" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="12.0.0.0-17.13.0.0" newVersion="17.13.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Diagnostics.Assert" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.ImageCatalog" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Imaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Shell.Framework" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="3.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
        <codeBase version="5.0.0.0" href="Extensions\Microsoft\SQLDB\DAC\Microsoft.Data.SqlClient.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Threading" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="12.0.0.0-17.14.0.0" newVersion="17.14.0.0" />
        <codeBase version="17.14.0.0" href="PublicAssemblies\Microsoft.VisualStudio.Threading.17.x\Microsoft.VisualStudio.Threading.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Utilities" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Nerdbank.Streams" publicKeyToken="cac503e1823ce71c" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.12.0.0" newVersion="2.12.0.0" />
        <codeBase version="2.12.0.0" href="PublicAssemblies\Nerdbank.Streams.2.x\Nerdbank.Streams.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StreamJsonRpc" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0-2.22.0.0" newVersion="2.22.0.0" />
        <codeBase version="2.22.0.0" href="PublicAssemblies\StreamJsonRpc.2.x\StreamJsonRpc.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Design.resources" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="1.0.0.0-17.0.0.0" newVersion="17.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.5.0" newVersion="4.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
