<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="false" />
    <AppContextSwitchOverrides value="Switch.System.Security.Cryptography.UseLegacyFipsThrow=false" />
    <ThreadPool_UnfairSemaphoreSpinLimit enabled="0" />
    <relativeBindForResources enabled="true" />
  </runtime>
</configuration>